.form-control-w-6 {
    max-width: 60px;
    display: inline;
}

.form-control-w-7 {
    max-width: 65px;
    display: inline;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-align: right;
}

.my-icon-class {
    vertical-align: center;
}

.btn-w-20 {
    max-width: 240px;
}

.btn {
    vertical-align: baseline;
}